body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}
.esquerda {
  background-color: green;
  background-image: url(../images/backgroundleafs.avif);
  background-repeat: no-repeat;
  color: #f9fafb;
  background-size: cover;
  flex: 3;
  font-family: "Norse Bold";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: ;
}

.logo {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #f9fafb;
}

.logo img {
  width: 10vw;
}

.direita {
  text-align: left;
  padding-left: 3vw;
  background-color: #f9fafb;
  flex: 5;
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  text-align: left;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  font-size: 1rem;
  margin-right: 32px;
}

.introduçãoTopo p {
  font-size: 30px;
  font-weight: bolder;
  margin: 0%;
}

h6 {
  margin: px;
}
.topo {
  padding-right: 15vw;
  font-family: sans-serif;
  font-weight: bolder;
}
.meio {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.formulario {
  align-self: flex-start;
  gap: 10vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fundo {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create {
  color: #f9fafb;
  background-color: #596d48;
  border-radius: 4px;
  width: 10vw;
  height: 5vh;
  font-size: 1vw;
  font-weight: bold;
}
.fundoFundo {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
}

.fundoFundo button {
  border: 0px;
  color: #596d48;
}
a {
  text-decoration: none;
  color: #596d48;
}
